@{
    ViewBag.Title = "Giới Thiệu";
}
<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('@Url.Content("~/content/images1/bg1.jpg")'); margin-top:100px">
    <h2 class="ltext-105 cl0 txt-center">
        Giới Thiệu
    </h2>
</section>

<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
    <div class="container">
        <div class="row p-b-148">
            <div class="col-md-7 col-lg-8">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <h3 class="mtext-111 cl2 p-b-16"> Về Đồng Hồ Của Chúng Tôi </h3>

                    <p class="stext-113 cl6 p-b-26"> Ở trung tâm câu chuyện của chúng tôi là niềm đam mê với sự chính xác, thủ công và vẻ đẹp vượt thời gian. Đồng hồ của chúng tôi không chỉ là công cụ để xem giờ; chúng là biểu tượng của phong cách, sự tinh tế và cá tính riêng biệt. Mỗi chiếc đồng hồ được chế tác tỉ mỉ với sự chú ý đến từng chi tiết, kết hợp công nghệ hiện đại với chuyên môn làm đồng hồ truyền thống. </p>

                    <p class="stext-113 cl6 p-b-26"> Từ những thiết kế cổ điển đến những sáng tạo hiện đại, bộ sưu tập của chúng tôi mang đến sự phù hợp hoàn hảo cho mọi sở thích và dịp lễ. Dù bạn bị cuốn hút bởi sức hút của một chiếc đồng hồ lấy cảm hứng từ phong cách cổ điển hay tính năng của một chiếc đồng hồ thông minh tiên tiến, mỗi sản phẩm đều thể hiện sự xuất sắc và phong cách trong từng chi tiết. </p>

                    <p class="stext-113 cl6 p-b-26"> Có câu hỏi về đồng hồ của chúng tôi? Hãy ghé thăm chúng tôi tại tầng 8, 379 Hudson St, New York, NY 10018, hoặc gọi đến số (+1) 96 716 6879. Hãy để chúng tôi giúp bạn tìm được chiếc đồng hồ hoàn hảo để làm nổi bật câu chuyện độc đáo của bạn. </p>
                </div>
            </div>

            <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                <div class="how-bor1 ">
                    <div class="hov-img0">
                        <img src="~/Content/images1/about1.jpg" alt="IMG">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                    <h3 class="mtext-111 cl2 p-b-16"> Sứ Mệnh Của Chúng Tôi </h3>

                    <p class="stext-113 cl6 p-b-26"> Sứ mệnh của chúng tôi là tạo ra những chiếc đồng hồ xuất sắc, thể hiện sự thanh lịch, đổi mới và cá tính riêng biệt. Với sự tận tâm với chất lượng và độ chính xác, chúng tôi hướng đến việc tái định nghĩa cách mọi người trải nghiệm thời gian, kết hợp công nghệ tiên tiến với nghệ thuật thủ công vượt thời gian. Mỗi chiếc đồng hồ chúng tôi tạo ra đều kể một câu chuyện độc đáo, phản ánh bản chất của sự sáng tạo và nghệ thuật kết nối các khoảnh khắc. </p>

                    <div class="bor16 p-l-29 p-b-9 m-t-22">
                        <p class="stext-114 cl6 p-r-40 p-b-11"> "Sáng tạo chỉ là việc kết nối các sự vật. Khi bạn hỏi những người sáng tạo họ đã làm điều đó như thế nào, họ cảm thấy hơi áy náy vì họ không thực sự làm ra nó—họ chỉ nhìn thấy một điều gì đó. Nó trở nên rõ ràng với họ sau một thời gian." </p>

                        <span class="stext-111 cl8"> - Steve Jobs </span>
                    </div>
                </div>
            </div>

            <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
                <div class="how-bor2">
                    <div class="hov-img0">
                        <img src="~/Content/images1/about2.jpg" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>